.container-fluid{
  background-color: #FFFF00;
}
.header{
  background-color: #0000FF;
  height: 100px;
  border: 1px solid black;
  margin-top: 50px;
}
.nav{
  background-color: #008000;
  height: 50px;
  border: 1px solid black;
}
.content{
  background-color: #FF0000;
  height: 175px;
  border: 1px solid black;
}
.aside{
  background-color: #00FFFF;
  height: 175px;
  border: 1px solid black;
}
.promo{
  background-color: #FFA500;
  height: 100px;
  border: 1px solid black;
}
.footer{
  background-color: black;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 25px;
}

.green{
  background-color: green;
  height: 200px;
}
.red{
  background-color: red;
  height: 200px;
}

/*Media Queries*/
@media only screen and (max-width: 768px) {
  .header{
    background-color: orange;
  }
}

@media only screen and (max-width: 500px) {
  .header{
    background-color: red;
  }

}
